.jtab-nav{
	float: left;
	margin: 10px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	list-style: none;
}

.jtab-nav li{
	float: left;
	margin: 0px 10px 0px 0px;
}

.jtab-nav li.active a{
	color: red;
}	

.jtab-tab{
	width: 100%;
	
	float: left;
	margin: 0px 0px 10px 0px;
	padding: 0px 0px 0px 0px;
	
	text-align: center;	
	background-color: #cfcfcf;	
}